main {
    #adopciones {
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        .anotaciones {
            display: none;
            text-transform: uppercase;
            font-size: 16px;
            margin-bottom: 20px;
        }
        #adopciones_galeria--row {
            display: none;
            overflow-x: scroll;
            img {
                width: 300px;
                height: 300px;
            }
            .image-container {
                position: relative;
                margin-right: 20px;
                display: flex;
                justify-content: center; 
                .galeria_nombres {
                    text-transform: uppercase;
                    position: absolute;
                    top: 80%;
                    color: #fff;
                    line-height: 1.2;
                }
            }
        }
        img {
            width: 100%;
            border-radius: 15px;
        }
        #adopciones_galeria--carousel {
            display: none;
            margin: 20px 0px 20px 0px !important;
            h5 {text-transform: uppercase;}
        }
        h2 {
            background-color: $principal-color;
            color: #fff;
            font-size: 1.3em;
            margin: auto;
            padding: 10px;
            border-radius: 15px;
        }
        i {
            color: $principal-color;
            margin-right: 10px;
        }
        #adopcionesInfo {
            text-align: center;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            div {
                margin: 10px;
                h3 {
                    color: $principal-color;
                    font-weight: bold;
                    font-size: 20px;
                    padding-bottom: 5px;
                }
                .bigger {font-size: 25px;}
            }
        }
        #adopcionesPaseo, #adopcionesCuidados {
            p {display: inline;}
        }
        #adopcionesPaseo {margin-top: 10px;}
        #adopcionesCuidados {
            li {margin-bottom: 15px;}
        }
    }
}