@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes separador {
    0% {width: 0;}
    100% {width: 90vw;}
}

@keyframes separadorShort {
    0% {width: 0;}
    100% {width: 60vw;}
}

@keyframes goDown {
    0% {color: white;}
    25% {color: map-get($colores,principal);}
    50% {color: white;}
    75% {color: map-get($colores,principal);}
    100% {color: white;}
}