@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes separador {
    0% {width: 0;}
    100% {width: 90vw;}
}

@keyframes separadorShort {
    0% {width: 0;}
    100% {width: 60vw;}
}