@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes separador {
    0% {width: 0;}
    100% {width: 90vw;}
}

@keyframes separadorShort {
    0% {width: 0;}
    100% {width: 60vw;}
}

@keyframes goDown {
    0% {color: white;}
    25% {color: map-get($colores,principal);}
    50% {color: white;}
    75% {color: map-get($colores,principal);}
    100% {color: white;}
}

.sumate:hover {
    &::after,&::before {
        content: '';
        background: linear-gradient(45deg,map-get($colores,principal),white);
        border-radius: 10px;
        position: absolute;
        left: -2px;
        top: -2px;
        z-index: -1;
        background-size: 150%;
        height: calc(100% + 4px);
        width: calc(100% + 4px);
        animation: sumate 3s linear infinite;
    }
}

.sumate::after {filter: blur(3px);}

@keyframes sumate {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}