@media only screen and (max-width: 430px) {
    html {
        header {
            nav {
                height: 100px;
                .nav_enlaces {
                    display: none;
                }
            }
        }
        main {
            padding-top: 100px;
            //GENERAL
            article p {
                line-height: 1.5;
            }
            //FIN GENERAL
            //CLASES
            .back_img {height: calc(100vh - 100px);}
            .banner {font-size: 20px;}
            //FIN CLASES
            #sobrenosotros {
                #sobrenosotros_info {
                    #info_mapa {width: 100%;}
                }
            }
        }
        footer {
            .footer_enlaces {
                a {
                    font-size: 14px;
                }
                i {
                    font-size: 16px;
                }
            }
        }
    }
}

@media only screen and (min-width: 480px) {
    main {
        #adopciones {
            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            #adopcionesPaseo {text-align: center;}
        }
    }
}

@media only screen and (min-width: 600px) {
    main {
        #adopciones {
            #adopciones_galeria--row {display: flex;}
            .anotaciones {display: block;}
        }
        #asociarse {
            #asociarse_img {background-position-y: 40%;}
        }
        #voluntarios {
            #voluntarios_img {background-position-y: 50%;}
        }
        #veterinarias {
            #veterinarias-grid-container {
                article {
                    text-align: center;
                    padding: 15px;
                    column-gap: 30px;
                }
            }
        }

    }
}

@media only screen and (max-width: 600px) {
    main {
        #adopciones {
            #adopciones_galeria--carousel {display: block;}
        }
        #veterinarias {
            #veterinarias-grid-container {
                article {
                    grid-template-columns: 100%;
                    grid-template-rows: auto;
                    text-align: center;
                    padding: 15px;
                }
                .grid_indicadores {display: none;}
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    html {
        main {
            #sobrenosotros {
                #sobrenosotros_img {background-position-y: 60%;}
            }
            #asociarse {
                #asociarse_img {background-position-y: 60%;}
            }
            #voluntarios {
                #voluntarios_img {background-position-y: 60%;}
            }
        }
    }
}

@media only screen and (max-width:768px) {
    html {
        header {
            #header_nav {
                .nav_enlaces {display: none;}
                #nav_menu {display: block;}
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    html {
        main {
            #sobrenosotros {
                #sobrenosotros_img {background-position-y: 75%;}
            }
            #adopciones {
                #adopciones_galeria--row {
                    img {
                        width: 350px;
                        height: 350px;
                    }
                }
            }
            #voluntarios {
                #voluntarios_img {background-position-y: 70%;}
            }
        }
        footer {
            .footer_enlaces {
                a {
                    font-size: 18px;
                }
                i {
                    font-size: 20px;
                }
            }
        }
    }
}
@media only screen and (max-width: 920px) and (orientation: landscape) {
    main {
        #sobrenosotros {
            #sobrenosotros_img {background-position-y: 70%;}
        }
        #asociarse {
            #asociarse_img {background-position-y: 50%;}
        }
        #voluntarios {
            #voluntarios_img {background-position-y: 55%;}
        }
    }
}
