main {
    #sobrenosotros {
        margin-bottom: 30px;
        #sobrenosotros_img {
            background-image: url("../assets/sobreapac.jpg");
            background-position-y: bottom;
        }
        #sobrenosotros_info {
            #info_texto {
                border-radius: 15px;
                padding: 25px;
            }
            p {
                margin: auto;
                margin-bottom: 15px;
                text-align: justify;
            }
            #info_mapa {
                width: 90%;
                display: block;
                margin: auto;
                height: 300px;
                border: none;
                border-radius: 30px;
                margin-bottom: 15px;
            }
        }
    }
}