//FONTS
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Oswald:wght@400;600&family=Tilt+Warp&family=Indie+Flower&display=swap');

//COLORES
$colores: (
    principal: #F27324,
    enlaces: #f27324c5,
    nav_enlaces: #fff,
    nav_logo_hover: #ffffffb1,
    anotaciones: grey,
    novedad_fecha: rgb(172, 168, 168),
    footer_enlaces: #fff,
    footer_copyright: #fff,
);
//

//FONT-FAMILY
$fonts: (
    general: 'DM Sans',
    titles: 'Tilt Warp',
    subtitles: 'Oswald',
    apac: 'Oswald',
    nav_enlaces: 'Oswald',
    galeria_nombres: 'Indie Flower'
);

//BACKGROUND-COLOR
$backcolor: (
    body: rgb(246, 242, 234),
    nav_enlaces_hover: rgb(255, 69, 0),
    footer_enlaces_hover: rgb(255, 69, 0)
);
//