main {
    #voluntarios {
        margin-bottom: 30px;
        #voluntarios_img {
            background-image: url('../assets/voluntarios.jpg');
            background-position-x: 30%;
        }
        article {
            width: 90%;
            margin: auto;
            text-align: center;
        }
    }
}