@import "variables";
@import "index";
@import "sobreapac";
@import "asociarse";
@import "adopciones";
@import "voluntarios";
@import "veterinarias";
//RESPONSIVE IS AT THE BOTTOM

html {
    scroll-behavior: smooth;
    //GENERAL
    body {
        overflow-x: hidden;
        font-family: map-get($fonts,general);
        background-color: $body-bc;
    }
    a {text-decoration: none;}
    ul, p {margin: 0;}
    ul {
        padding-left: 0;
    }
    li {list-style: none;}
    strong {color: $principal-color}
    hr {opacity: 0.75;}
    //FIN GENERAL
    //CLASES
    .link {
        font-style: italic;
        color: $enlaces-color;
        &:hover {
            font-weight: bold;
            border-bottom: 2px solid $principal-color; 
        }
    }
    .banner {
        width: 70%;
        font-family: map-get($fonts,apac);
        font-size: 24px;
        text-transform: uppercase;
        color: $principal-color;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    @mixin headings ($font-family,$font-size,$mt,$mb) {
        font-family: $font-family;
        font-size: $font-size;  
        margin: auto;
        margin-top: $mt;
        margin-bottom: $mb;
        color: $principal-color;
        text-align: center;
    }
    .titles {
        @include headings (map-get($fonts,titles) ,2.1em,0,40px);
        background-color: #ffffffd1;
        border-radius: 15px;
        padding: 15px;
    }
    .subtitles {
        @include headings (map-get($fonts,subtitles),1.8em,20px,20px);
        font-weight: 400;
    }
    .separador {
        width: 90vw;
        border: 2px solid $principal-color;
        border-radius: 10px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .separador--short {
        @extend .separador;
        width: 60vw;
    }
    .separador--short--nomargin {
        @extend .separador--short;
        margin: 0
    }
    .separador--short--nomb {
        @extend .separador--short;
        margin-bottom: 0;
    }
    .separador--short--nomt {
        @extend .separador--short;
        margin-top: 0;
    }
    .back_img {
        height: calc(100vh - 80px);
        width: 100% !important;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 30px;
    }
    .sumate {
        color: #fff;
        background-color: $principal-color;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        padding: 5px;
        border-radius: 10px;
        font-weight: bold;
    }
    .anotaciones {
        color: $anotaciones-color;
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
    }
    //FIN CLASES

    header {
        nav {
            display: flex;
            position: fixed;
            z-index: 100;
            width: 100vw;
            height: 80px;
            background-color: $principal-color;
            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100vw;
            }
            .nav_logo {
                padding: 0px 30px;
                a {
                    display: flex;
                    align-items: center;
                    color: $nav_enlaces-color;
                    span {
                        font-family: map-get($fonts,apac);
                        font-size: 45px;
                        font-weight: 600;
                        margin-right: 12px;
                        &:hover {
                            color: $nav_logo-color_hover;
                            transition: .4s;
                            transform: translateY(2px);
                        }
                    }
                    i {font-size: 20px;}
                }
            }
            .nav_enlaces {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding: 0px 30px;
                li {padding: 5px 6px 5px 6px;}
                a {
                    color: $nav_enlaces-color;
                    font-family: map-get($fonts,nav_enlaces);
                    font-weight: 400;
                    font-size: 18px;
                    &:hover {
                        transition: .4s;
                        padding: 10px;
                        background-color: $nav_enlaces-bc_hover;
                        border-radius: 10px;
                    }
                }
            }
            #nav_menu {
                color: #fff;
                display: none;
                padding-right: 30px;
            }
            .menu_enlaces {display: none;}
        }
        .menuShow {
            transition: .5s;
            height: 100vh;
            flex-direction: column;
            padding-top: 30px;
            .menu_enlaces {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 20px;
                li {padding: 15px}
                a {
                    color: $nav_enlaces-color;
                    font-family: map-get($fonts,nav_enlaces);
                    font-weight: 400;
                    font-size: 26px;
                    &:hover {
                        transition: .4s;
                        padding: 10px;
                        background-color: $nav_enlaces-bc_hover;
                        border-radius: 10px;
                    }
                }
            }
        }  
    }

    main {
        padding-top: 80px;
        article p {
            font-size: 16px;
        }
    }

    footer {
        width: 100vw;
        .titles {margin-bottom: 25px;}
        .footer_enlaces {
            // flex-direction: column;
            margin: auto;
            margin-bottom: 30px;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0px 10px 0px;
                font-size: 16px;
                color: $footer_enlaces-color;
                background-color: $principal-color;
                border-radius: 15px;
                margin-bottom: 15px;
            }
            i {
                margin-right: 10px;
                font-size: 18px;
            }
        }
        .copyright {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $principal-color;
            color: $footer_copyright-color;
            font-size: 13px;
            width: 100vw;
            height: 25px;
        }
    }
}

@import "responsive";