@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Oswald:wght@400;600&family=Tilt+Warp&family=Indie+Flower&display=swap");
html main #novedad .titles {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
  background-color: #F27324;
}
html main #novedad .novedad-grid-container {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}
html main #novedad #novedad_img img {
  width: 100%;
  border-radius: 15px;
}
html main #novedad #novedad_info p {
  margin-bottom: 10px;
}
html main #novedad #novedad_info p .novedad_fecha {
  color: rgb(172, 168, 168);
}
html main #novedad #novedad_info i {
  color: #F27324;
  margin-right: 5px;
}

main #sobrenosotros {
  margin-bottom: 30px;
}
main #sobrenosotros #sobrenosotros_img {
  background-image: url("../assets/sobreapac.jpg");
  background-position-y: bottom;
}
main #sobrenosotros #sobrenosotros_info #info_texto {
  border-radius: 15px;
  padding: 25px;
}
main #sobrenosotros #sobrenosotros_info p {
  margin: auto;
  margin-bottom: 15px;
}
main #sobrenosotros #sobrenosotros_info #info_mapa {
  width: 90%;
  display: block;
  margin: auto;
  height: 300px;
  border: none;
  border-radius: 30px;
  margin-bottom: 15px;
}

main #asociarse {
  margin-bottom: 30px;
}
main #asociarse #asociarse_img {
  background-image: url("../assets/asociarse.jpg");
  background-position-x: 40%;
}
main #asociarse article {
  width: 90%;
  margin: auto;
}

main #adopciones {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
main #adopciones h5 {
  text-align: center;
  font-size: 24px;
}
main #adopciones .anotaciones {
  display: none;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}
main #adopciones img {
  border-radius: 15px;
}
main #adopciones #adopciones_galeria--row {
  display: none;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 30px;
}
main #adopciones #adopciones_galeria--row img {
  width: 300px;
  height: 300px;
}
main #adopciones #adopciones_galeria--row .image-container {
  position: relative;
  margin-right: 20px;
  display: flex;
  justify-content: center;
}
main #adopciones #adopciones_galeria--row .image-container .galeria_nombres {
  text-transform: uppercase;
  position: absolute;
  top: 80%;
  color: #fff;
  font-family: "Indie Flower";
}
main #adopciones #adopciones_galeria--carousel {
  display: none;
  margin: 20px 0px 20px 0px;
}
main #adopciones #adopciones_galeria--carousel h5 {
  text-transform: uppercase;
  font-family: "Indie Flower";
}
main #adopciones h2 {
  background-color: #F27324;
  color: #fff;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 0px;
}
main #adopciones i {
  color: #F27324;
  margin-right: 10px;
}
main #adopciones #adopcionesInfo {
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
main #adopciones #adopcionesInfo ul {
  list-style: circle;
}
main #adopciones #adopcionesPaseo, main #adopciones #adopcionesCuidados {
  text-align: center;
}
main #adopciones #adopcionesPaseo p, main #adopciones #adopcionesCuidados p {
  display: inline;
}
main #adopciones #adopcionesPaseo {
  margin-top: 10px;
}
main #adopciones #adopcionesCuidados li {
  margin-bottom: 15px;
}

main #voluntarios {
  margin-bottom: 30px;
}
main #voluntarios #voluntarios_img {
  background-image: url("../assets/voluntarios.jpg");
  background-position-x: 30%;
}
main #voluntarios article {
  width: 90%;
  margin: auto;
  text-align: center;
}

main #veterinarias {
  margin-top: 30px;
  margin-bottom: 30px;
}
main #veterinarias #veterinarias-grid-container article {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  row-gap: 5px;
}
main #veterinarias #veterinarias-grid-container article a {
  display: block;
}
main #veterinarias #veterinarias-grid-container article a:hover {
  border: none;
}
main #veterinarias #veterinarias-grid-container i {
  display: none;
  font-size: 18px;
  padding-right: 4px;
  color: #F27324;
}
main #veterinarias #veterinarias-grid-container .grid_indicadores i {
  display: inline;
  font-size: 22px;
  padding-right: 8px;
  color: #F27324;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes separador {
  0% {
    width: 0;
  }
  100% {
    width: 90vw;
  }
}
@keyframes separadorShort {
  0% {
    width: 0;
  }
  100% {
    width: 60vw;
  }
}
@keyframes goDown {
  0% {
    color: white;
  }
  25% {
    color: #F27324;
  }
  50% {
    color: white;
  }
  75% {
    color: #F27324;
  }
  100% {
    color: white;
  }
}
.sumate:hover::after, .sumate:hover::before {
  content: "";
  background: linear-gradient(45deg, #F27324, white);
  border-radius: 10px;
  position: absolute;
  left: -2px;
  top: -2px;
  z-index: -1;
  background-size: 150%;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  animation: sumate 3s linear infinite;
}

.sumate::after {
  filter: blur(3px);
}

@keyframes sumate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
html {
  scroll-behavior: smooth;
}
html body {
  overflow-x: hidden;
  font-family: "DM Sans";
  background-color: rgb(246, 242, 234);
}
html a {
  text-decoration: none;
}
html ul, html p {
  margin: 0;
}
html ul {
  padding-left: 0;
}
html li {
  list-style: none;
}
html strong {
  color: #F27324;
}
html hr {
  opacity: 0.75;
}
html .link {
  font-style: italic;
  color: rgba(242, 115, 36, 0.7725490196);
}
html .link:hover {
  font-weight: bold;
  border-bottom: 1.5px solid #F27324;
}
html .banner {
  width: 70%;
  font-family: "Oswald";
  font-size: 24px;
  text-transform: uppercase;
  color: #F27324;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  animation-name: opacity;
  animation-duration: 1s;
}
html .titles {
  font-family: "Tilt Warp";
  font-size: 35px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 40px;
  color: #F27324;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8196078431);
  border-radius: 15px;
  padding: 15px;
}
html .subtitles {
  font-family: "Oswald";
  font-size: 25px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #F27324;
  text-align: center;
  font-weight: 400;
}
html .separador, html .separador--short, html .separador--short--nomt, html .separador--short--nomb, html .separador--short--nomargin {
  width: 90vw;
  border: 2px solid #F27324;
  border-radius: 10px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  animation-name: separador;
  animation-duration: 0.6s;
}
html .separador--short, html .separador--short--nomt, html .separador--short--nomb, html .separador--short--nomargin {
  width: 60vw;
  animation-name: separadorShort;
}
html .separador--short--nomargin {
  margin: 0;
  margin: auto;
}
html .separador--short--nomb {
  margin-bottom: 0;
}
html .separador--short--nomt {
  margin-top: 0;
}
html .back_img {
  height: 60vh;
  width: 100% !important;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
}
html .sumate {
  position: relative;
  color: #fff;
  background-color: #F27324;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  width: 300px;
  cursor: default;
}
html .anotaciones {
  color: grey;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
html .img_goDown {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  bottom: 5%;
}
html .img_goDown a {
  color: #F27324;
  transition: all 0.3s ease-out;
}
html .img_goDown a:hover {
  color: #fff;
}
html .img_goDown i {
  animation-duration: 3s;
  animation-name: goDown;
  animation-iteration-count: infinite;
}
html header nav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: #F27324;
}
html header nav .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
html header nav .nav_logo {
  padding: 0px 30px;
}
html header nav .nav_logo a {
  display: flex;
  align-items: center;
  color: #fff;
  transition: all 0.5s;
}
html header nav .nav_logo a:hover {
  color: rgba(255, 255, 255, 0.6941176471);
  transform: translateY(1px);
}
html header nav .nav_logo a span {
  font-family: "Oswald";
  font-size: 45px;
  font-weight: 600;
  margin-right: 12px;
}
html header nav .nav_logo a i {
  font-size: 20px;
}
html header nav .nav_enlaces {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 30px;
}
html header nav .nav_enlaces li {
  padding: 5px 6px 5px 6px;
}
html header nav .nav_enlaces a {
  color: #fff;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 18px;
  transition: all 0.4s ease-out;
}
html header nav .nav_enlaces a:hover {
  padding: 10px;
  background-color: rgb(255, 69, 0);
  border-radius: 10px;
}
html header nav #nav_menu {
  color: #fff;
  display: none;
  padding-right: 30px;
  cursor: pointer;
}
html header nav .menu_enlaces {
  display: none;
}
html header .menuShow {
  position: fixed;
  transition: 0.4s ease;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  padding-top: 30px;
  overflow-y: scroll;
}
html header .menuShow .menu_enlaces {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
}
html header .menuShow .menu_enlaces li {
  padding: 15px;
  transition: all 0.4s ease-out;
}
html header .menuShow .menu_enlaces li:hover, html header .menuShow .menu_enlaces li:active, html header .menuShow .menu_enlaces li:focus {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #fff;
}
html header .menuShow .menu_enlaces li:hover a, html header .menuShow .menu_enlaces li:active a, html header .menuShow .menu_enlaces li:focus a {
  color: #F27324;
}
html header .menuShow .menu_enlaces li a {
  color: #fff;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 22px;
}
html main article p {
  font-size: 16px;
}
html main #error404 .link {
  font-style: normal;
}
html footer .titles {
  margin-bottom: 25px;
}
html footer #formulario {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
html footer #formulario input {
  border-radius: 5px;
  margin: 5px;
  border: 2px solid #F27324;
  padding: 5px;
}
html footer .footer_enlaces {
  margin: auto;
  margin-bottom: 30px;
}
html footer .footer_enlaces a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
  font-size: 16px;
  color: #fff;
  background-color: #F27324;
  border-radius: 15px;
  margin-bottom: 15px;
  transition-property: background-color;
  transition: background-color 0.4s ease-in-out;
}
html footer .footer_enlaces a:hover {
  background-color: rgb(255, 69, 0);
}
html footer .footer_enlaces i {
  margin-right: 10px;
  font-size: 18px;
}
html footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F27324;
  color: #fff;
  font-size: 12px;
  width: 100%;
  height: 25px;
}
html footer .copyright a {
  color: #fff;
}
html footer .copyright a:hover {
  text-transform: uppercase;
  border-bottom: 2px dashed #fff;
}

@media only screen and (min-width: 260px) and (max-width: 300px) {
  #novedad_titulo {
    width: 100%;
    font-size: 28px !important;
  }
}
@media only screen and (max-width: 430px) {
  html header nav {
    height: 100px;
  }
  html header nav .nav_enlaces {
    display: none;
  }
  html main article p {
    line-height: 1.5;
  }
  html main .banner {
    font-size: 20px;
  }
  html main #sobrenosotros #sobrenosotros_img {
    background-size: 140%;
    background-position-x: 35%;
  }
  html main #sobrenosotros #sobrenosotros_info #info_mapa {
    width: 100%;
  }
  html footer .footer_enlaces a {
    font-size: 14px;
  }
  html footer .footer_enlaces i {
    font-size: 16px;
  }
}
@media only screen and (min-width: 600px) {
  main #adopciones #adopciones_galeria--row {
    display: flex;
  }
  main #adopciones .anotaciones {
    display: block;
  }
  main #asociarse #asociarse_img {
    background-position-y: 40%;
  }
  main #voluntarios #voluntarios_img {
    background-position-y: 50%;
  }
  main #veterinarias #veterinarias-grid-container article {
    text-align: center;
    padding: 15px;
    column-gap: 30px;
  }
}
@media only screen and (max-width: 600px) {
  main #adopciones #adopciones_galeria--carousel {
    display: block;
  }
  main #veterinarias #veterinarias-grid-container article {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    text-align: center;
    padding: 15px;
  }
  main #veterinarias #veterinarias-grid-container .grid_indicadores {
    display: none;
  }
  main #veterinarias #veterinarias-grid-container i {
    display: inline;
  }
}
@media only screen and (min-width: 768px) {
  html header .menuShow {
    width: 35vw;
  }
  html header nav .nav_logo a span {
    font-size: 40px;
  }
  html main article p, html main li {
    font-size: 18px;
  }
  html main #sobrenosotros #sobrenosotros_img {
    background-position-y: 75%;
    background-size: 115%;
  }
  html main #asociarse #asociarse_img {
    background-position-y: 60%;
  }
  html main #voluntarios #voluntarios_img {
    background-position-y: 60%;
  }
}
@media only screen and (max-width: 975px) {
  html header #header_nav .nav_enlaces {
    display: none;
  }
  html header #header_nav #nav_menu {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  html .titles {
    font-size: 45px;
  }
  html .subtitles {
    font-size: 28px;
  }
  html main article p, html main li {
    font-size: 20px;
  }
  html main #adopciones #adopciones_galeria--row img {
    width: 400px;
    height: 400px;
  }
  html main #voluntarios #voluntarios_img {
    background-position-y: 70%;
  }
  html main #veterinarias #veterinarias-grid-container a, html main #veterinarias #veterinarias-grid-container span {
    font-size: 18px;
  }
  html footer .footer_enlaces a {
    font-size: 18px;
  }
  html footer .footer_enlaces i {
    font-size: 20px;
  }
}
@media only screen and (max-width: 920px) and (orientation: landscape) {
  html main #sobrenosotros #sobrenosotros_img {
    background-position-y: 70%;
  }
  html main #asociarse #asociarse_img {
    background-position-y: 50%;
  }
  html main #voluntarios #voluntarios_img {
    background-position-y: 65%;
  }
}
@media only screen and (orientation: landscape) {
  html header .menuShow {
    width: 35vw;
  }
  html header .menuShow .menu_enlaces {
    margin-top: 10px;
  }
  html header .menuShow .menu_enlaces li {
    padding: 7px;
  }
  html header .menuShow .menu_enlaces li a {
    font-size: 18px;
  }
  html header nav .nav_logo a span {
    font-size: 30px;
  }
  html main .img_goDown {
    display: block;
  }
  html main .back_img {
    height: calc(100vh - 70px);
  }
}

/*# sourceMappingURL=style.css.map */
